# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"

# Clerk
# https://clerk.com/docs/quickstarts/nextjs
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=​pk_test_••••••••••••••••••••••••••••••••••
CLERK_SECRET_KEY=​sk_test_••••••••••••••••••••••••••••••••••​

# Clerk URL vaiables
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/todos
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/todos 